# Xcode
*.xcuserdatad
*/xcuserdata/
DerivedData/

# Apple
*.DS_Store
*.icloud

# Swift
/.build
/Package.resolved
/.swiftpm/xcode/xcuserdata
/.swiftpm/xcode/package.xcworkspace/xcuserdata
/.swiftpm/configuration/registries.json

# Blender
*.blend1

# Linux
.netrc
