# Auto detect text files and perform LF normalization
* text=auto
# Gravity files must have lf line endings
*.gravity      eol=lf

# Don't calculate the GateEngineDependencies source when determining project languages
Sources/GateEngineDependencies/** linguist-vendored

# Don't calculate the Extras when determining project languages
Sources/Extras/** linguist-vendored
