# Auto detect text files and perform LF normalization
* text=auto

# Don't calculate the GateEngineDependencies source when determining project languages
Sources/GateEngineDependencies/** linguist-vendored
