name: HTML5
on:
  workflow_dispatch:
  push:
    branches:
    - 'main'
  pull_request:
    branches:
    - '**'

jobs:
  Build_Test-macOS-WASI:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Install Carton
      run: brew install swiftwasm/tap/carton
    
    - name: Make Chrome Default
      run: open -a "Google Chrome" --args --make-default-browser
    
    - name: Test Insecure Context
      run: carton test --environment defaultBrowser --host 127.0.0.1
      
    - name: Test Secure Context
      run: carton test --environment defaultBrowser --host localhost
