name: HTML5
on:
  workflow_dispatch:
  push:
    branches:
    - 'main'
  pull_request:
    branches:
    - '**'

jobs:
  Build_Test-macOS-WASI:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Install Carton
      run: brew install swiftwasm/tap/carton
    
    - name: Test Insecure Context
      run: carton test --environment defaultBrowser --host 127.0.0.1
    
    - name: Archive
      uses: actions/upload-artifact@v3
      if: always()
      with:
        name: Wasm Binary
        path: .build/wasm32-unknown-wasi/**/*.wasm
    #TODO: Figure out how to make chrome default without a confirmation
    #- name: Make Chrome Default
    #  run: open -a "Google Chrome" --args --make-default-browser
      
    #- name: Test Secure Context
    #  run: carton test --environment defaultBrowser --host localhost
