name: iOS-tvOS
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *' # Runs daily at midnight UTC
  pull_request:
    branches:
    - '**'

jobs:
  Build_Test-macOS-iOS:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
  
    - name: Swift Version
      run: swift --version

    - name: Build iOS using Xcode
      run: xcodebuild -scheme GateEngine -destination generic/platform=iOS

    - name: Build tvOS using Xcode
      run: xcodebuild -scheme GateEngine -destination generic/platform=tvOS
