name: Linux

on:
  workflow_dispatch:
  push:
    branches:
    - 'main'
  pull_request:
    branches:
    - '**'

jobs:
  Build_Test-Linux-Linux:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Install Linux Dependencies
      run: sudo apt-get update --fix-missing; sudo apt-get install freeglut3-dev; sudo apt-get install libopenal-dev
      
    - name: Install Swift
      curl -L https://swiftlang.github.io/swiftly/swiftly-install.sh | bash
      swiftly install 5.10.1
    
    - name: Swift Version
      run: swift --version
      
    - name: Build
      run: swift build
    - name: Test
      run: swift test
